/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilos para el formulario */
  #add-form {
    margin-bottom: 20px;
  }
  
  #task-input {
    width: 70%;
    padding: 5px;
    font-size: 16px;
  }
  
  /* Estilos para la lista de tareas */
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  #task-list li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f2;
  }
  
  #task-list li.completed {
    text-decoration: line-through;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  