.box {
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
  }
  
  .box-title {
    background-color: #333232;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .box-description {
    background-color: #333232;
    color: white;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .box-list {
    background-color: #333232;
    color: white;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .box-list li {
    list-style-type: disc;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    color: white; /* Cambia el color del texto a blanco */
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .delete-button:hover {
    transform: scale(1.2);
  }
  